<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
<body>
    <div>
      <h1 class="mx-auto text-primary">Welcome Coding Dojo Wall</h1>
      <div class="d-flex">
        <div class="col-4 bg-dark p-4 my-5 mx-auto text-light text-decoration-underline"> 
          <h3>{{messages|length}} messages for you</h3>
          {% for message in messages %}
            <h6>{{message.sender}}:</h6>
            <p>{{message.comment}}</p>
            <a href="/destroy/{{message.id}}">Delete</a>
          {% endfor %}
          
        </div>
    </div>
    </div>
    <div>
      <h1 class="mx-auto text-primary">Welcome  {{user.first_name}}</h1> <a href="/logout" class="btn btn-primary">Logout</a>
      <div class="d-flex">
        <div class="col-4 bg-dark p-4 my-5 mx-auto text-light">
          <h3>Send A Message:</h3>
          {% for u in users %}
            {% if u.id != session.user_id %}
              <form action="/message" method="POST">
                <input type="hidden" name="sender_id" value={{session.user_id}}> 
                <input type="hidden" name="receiver_id" value={{u.id}}>
                <label for="receiver_id"> Message{{u.first_name}}:</label>
                <textarea name="comment" cols="30" rows="10" class="form-control"></textarea>
                <input type="Submit" name="Send" value="Message" class="btn btn-primary">
              </form>
            {% endif %}
          {% endfor %}

      </div>
      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>